/* styles.css */

body {
    
    background-image: url('backgroundimage.jpg');
    background-size: cover !important; 
    background-position: center !important; 
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0px;
    padding: 187px;
    text-align: center;
}

h1 {
    color:rgb(20, 141, 210);
    margin-bottom: 40px;
    font-size:50px;
    font-family: cursive;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(123, 6, 241, 0.1);
}
.form-container {
    background-image: url('container_bg.jpg');
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
    border: 0px solid #ccc;
    border-radius: 10px;
    background-color: #6d9df6;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color:rgb(20, 141, 210);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Hover effect for the button */
  input[type="submit"]:hover {
    color:rgb(20, 141, 210);
    background-color:  rgb(225, 233, 237);
  }

/* Style for the file input */
input[type="file"] {
    display: none; /* Hide the original file input */
  }
  
  /* Style for the custom button to replace "Choose File" */
  .custom-file-input {
    padding: 10px 20px;
    margin-right:60px;
    background-color: rgb(20, 141, 210);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Hover effect for the custom file input button */
  .custom-file-input:hover {
    color:rgb(20, 141, 210);
    background-color: rgb(225, 233, 237);
  }
  

#uploadedImage {
    border: 2px solid #eee;
    max-width: 254px;
    max-height: 254px;
    
   
}